/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */


/* Requirements for the project */
 body {
    margin: 8px;
    display: block;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}
 #mainHeading {
    color: red;
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
}
 .funParagraph, #testP {
    color: green;
}
/* general selectors */
 a {
    color: cadetblue;
    text-decoration: none;
}
 a:hover {
    text-decoration: underline;
}
 strong {
    font-weight: 700;
    text-decoration: underline;
}
 figure {
    margin: 0;
    padding: 0;
    position: relative;
    background: red;
    overflow:hidden;
}
 figcaption {
    font-size: 0.8em;
    font-style: italic;
    margin: -30px 0 0 10px;
    font-weight: bold;
    color: #fff;
}
 figure img {
    opacity: 0.6;
    width: 100%;
    display:block;
}
 nav {
    background: darkslategray;
    clear: both;
    overflow: hidden;
}
 nav ul {
    margin: 0px;
    padding: 0px;
    list-style:none;
}
 nav li {
    display: block;
    float: left;
    text-align: center;
}
 nav a {
    display: block;
    float: left;
    padding: 10px 36px;
    margin: 0px;
    background: darkslategray;
    color: #fff;
    text-decoration: none;
}
 nav a:hover {
    text-decoration: none;
    color: cadetblue;
}
 article {
    display: block;
    clear: both;
    line-height: 1.5em;
    padding-bottom: 20px;
}
 table {
    border-top:1px solid #eee;
    border-right:1px solid #eee;
    border-collapse:collapse;
    margin-bottom: 1em;
}
 td {
    border-bottom:1px solid #eee;
    border-left:1px solid #eee;
    padding:.3em 1em;
    font-size: 1.1em;
}
 th {
    font-weight:normal;
    color: #777;
    border-bottom: 1px solid #eee;
    border-left:1px solid #eee;
    padding:.3em 1em;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    background:#eee;
    text-align:center;
    letter-spacing: 0.2em;
}
 article p, article table, article dl, article ol, article ul {
    margin: 20px;
}
 blockquote::before {
    content: "\201C";
    font-size: 10em;
    margin: 0;
    padding: 20px;
    line-height: 0.1em;
    position: absolute;
    left: 0;
    top: 60px;
    opacity: 0.4;
}
blockquote::after {
    content: "\201D";
    font-size: 2em;
    margin: 0;
    padding: 20px;
    line-height: 0.1em;
    position: absolute;
    right: 40px;
    bottom: 60px;
    opacity: 0.4;
}
 blockquote {
    background: #333;
    padding: 60px;
    margin: 0;
    color: #fff;
}
 cite {
    position: absolute;
    right: 60px;
    bottom: 20px;
    font-size: 0.6em;
    color: #fff;
}
 footer {
    background: #333;
    padding: 20px;
    font-size: 0.6em;
    line-height: 0.8em;
    position: relative;
    color: #777;
}
 footer a {
    display: block;
    float: right;
    color: #555;
}
 dd::before {
    content: "\21B3";
}
 dd {
    margin: 0 0 0 20px;
}
 article h2 {
    padding: 20px;
    margin: 0 0 0 -20px;
    background: red;
    position:relative;
    color: #fff;
}
 article h2 a {
    color: #fff;
}
 h2::before {
    content: '';
    background: red;
    width: 40px;
    height: 20px;
    position: absolute;
    left: 1px;
    bottom:-17px;
    transform: rotate(45deg);
    opacity: 0.4;
}
/* specific selectors */
/* necessary because of the project spec for 8px of margin */
 #content {
    margin: 0 auto;
    max-width: 900px;
    display:block;
    box-shadow: 3px 3px 20px #aaa;
}
 .travel-tip::before {
    content: "Travel Tip: ";
    font-weight: 700;
    opacity: 0.4;
}
 .travel-tip {
    font-size: 0.8em;
    margin: 20px 0 20px 240px;
    padding: 20px 20px 40px 40px;
    background: #eee;
    color: #fff;
}
 .aside::before {
    content: "Note: ";
    opacity: 0.4;
}
 .aside {
    background: #777;
    color: #fff;
    padding: 20px;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 0 40px 0 0;
}
/* article-specific styles */
 #introduction {
    color: #777;
    font-style: italic;
    background: #eee;
}
 #new-york-new-york h2, #new-york-new-york h2::before, #new-york-new-york figure, #new-york-new-york .aside, #new-york-new-york .travel-tip {
    background: orange;
}
 #seattle h2, #seattle h2::before, #seattle figure, #seattle .aside, #seattle .travel-tip {
    background: yellowgreen;
}
 #san-francisco h2, #san-francisco h2::before, #san-francisco figure, #san-francisco .aside, #san-francisco .travel-tip {
    background: lightseagreen;
}
 #iceland h2, #iceland h2::before, #iceland figure, #iceland .aside, #iceland .travel-tip {
    background: blueviolet;
}
 #london h2, #london h2::before, #london figure, #london .aside, #london .travel-tip {
    background: darkkhaki;
}
 #boston h2, #boston h2::before, #boston figure, #boston .aside, #boston .travel-tip, #boston blockquote {
    background: seagreen;
}
